@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    background-color:#f5f5f5 ;
}
.profile-container{
    max-width: 100%;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5;
}
.profile-header {
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid rgb(215,215,215,1);
    margin: 0 0 20px 0;
}
.profile-header i {
    padding: 6px 10px 6px 6px;
    font-size: 18px;
}
.profile-header h3{
font-weight: 600;
}
.profile-pic{
    width:150px;
    text-align: center;
    margin: 0 auto 0 auto;
    position: relative;
}
.profile-pic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgb(215,215,215,1);
}
.profile-pic i{
    position: absolute;
    bottom: 8px;
    right: 6px;
    background-color: #3ebfab;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
}
.profile-col-container{
    padding: 10px;
}
.name-and-icon{
    display: flex;
    align-items: center;
}
.name-text{
    padding: 0 10px;
}
.name-text p{
    font-size: 12px;
    color: gray;
    margin: 0 0 2px 0;
}
.name-text span{
    color: black;
    font-size: 15px;
}
.icon i{
    color: gray;
}
a{
    color: #111;
}
.name,.about,.phone,.password{
    display: flex;
    margin: 0 0 10px 0;
    border-bottom: 1px solid rgb(215,215,215,1);
    justify-content: space-between;
}
.name i,.about i,.phone i,.password i{
    padding: 20px 20px 20px 10px;
    font-size: 20px;
}
.edit i{
    color: #3ebfab;
    font-size: 16px;
    padding: 10px;
}
.edit{
    float: right;
    align-items: center;
    display: flex;
}